extends ../layout
 
script(type='text/javascript')
	tinymce.init({
		selector: 'textarea#mytextarea'
	})

block content
	div.main-wrapper
		article.blog-post.px-3.py-5.p-md-5
			div.container
				header.blog-post-header
					h2.title.mb-2 #{article.title}
					div.meta.mb-3
						span.date Publised #{moment(article.createdAt).format('ll')}
						span.time 
							a(href="../profiles/#{article.author.username}") #{article.author.username}
						button#follow-btn.btn.btn-outline-primary.btn-sm(data-id=article.author.username) #{isFollowing ? 'UnFollow' : 'Follow'}
				div.blog-post-body
					figure.blog-banner
						a(href="https://made4dev.com")
							img.img-fluid(src=article.image, alt="image")
						figcaption.mt-2.text-center.image-caption Image Credit: 
							a(href="#", target="_blank") made4dev.com (Premium Programming T-shirts)
						p #{article.body}
				for comment in article.comments
					div.comment.mb-3
						span.time #{comment.body}
						div.meta 
							img.mr-1.rounded-circle(src="#{comment.author.image}", alt="", width = "20px")
							span.date #{comment.author.username}
							span.comment #{moment(comment.createdAt).fromNow()}
				if isAuthenticated 
					form(method='post', action='/articles/#{article.slug}/comments')
						.input-group
							input.form-control(type='text', placeholder='What do you think?', name='comment')
							span.input-group-btn.ml-2
								input.btn.btn-success(type='submit', value='Add Comment')
				

	script.
		$('.meta').on('click', '#follow-btn', function(event) {
		console.log('click');
		event.preventDefault();
		const username = $(this).attr('data-id');
		const method = 'POST';
		if (isFollowing) {
			method = 'DELETE';
		}
		$.ajax({
			url: '../profiles/' + username,
			method: method,
			data: { id: id }
			}).done(function(res) {
				if (res.success) {
				console.log('id from ajax call is', res);
				window.location.reload();
			} else {
				console.log('error...ajax');
		}
});

						

