extends ../layout
 
script(type='text/javascript')
	tinymce.init({
		selector: 'textarea#mytextarea'
	})

block content
	div.main-wrapper
		article.blog-post.px-3.py-5.p-md-5
			div.container
				header.blog-post-header
					h2.title.mb-2 #{article.title}
					div.meta.mb-3
						span.date Publised #{moment(article.createdAt).format('ll')}
						span.time 
							a(href="../profiles/#{article.author.username}") #{article.author.username}
						form(method= isFollowing ? 'delete': 'post', action='/profiles/' + article.author.username + '/follow')
							input.btn.btn-outline-primary.btn-sm(type='submit' value= isFollowing ? 'UnFollow' : 'Follow') 
				div.blog-post-body
					figure.blog-banner
						a(href="https://made4dev.com")
							img.img-fluid(src=article.image, alt="image")
						figcaption.mt-2.text-center.image-caption Image Credit: 
							a(href="#", target="_blank") made4dev.com (Premium Programming T-shirts)
						p #{article.body}
				for comment in article.comments
					div.comment.mb-3
						span.time #{comment.body}
						div.meta 
							img.mr-1.rounded-circle(src="#{comment.author.image}", alt="", width = "20px")
							span.date #{comment.author.username}
							span.comment #{moment(comment.createdAt).fromNow()}
				if isAuthenticated 
					form(method='post', action='/articles/#{article.slug}/comments')
						.input-group
							input.form-control(type='text', placeholder='What do you think?', name='comment')
							span.input-group-btn.ml-2
								input.btn.btn-success(type='submit', value='Add Comment')
				

				

						

