extends ../layout
 
block content
	section.blog-list.px-3.py-5.p-md-5
		div.container
			for article in articles
				div.item.mb-5
					div.media
						img.mr-3.img-fluid.post-thumb.d-none.d-md-flex(src=article.image alt="image")
						div.media-body
							h3.title.mb-1
								a(href="./articles/#{article.slug}") #{article.title}
							div.meta.mb-1
								span.date #{moment(article.createdAt).format('llll')}
								span.time
									a(href="../profiles/#{article.author.username}") #{article.author.username}
								span.comment
									a(href="#") #{article.comments.length} comments
							div.intro #{article.description}
							a.more-link(href="./articles/#{article.slug}") Read more &rarr;
				
			nav.blog-nav.nav.nav-justified.my-5
				a.nav-link-prev.nav-item.nav-link.rounded-left(href="index.html") Previous 
				i.arrow-prev.fas.fa-long-arrow-alt-left
				a.nav-link-next.nav-item.nav-link.rounded-right(href="blog-list.html") Next
				i.arrow-next.fas.fa-long-arrow-alt-right